<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      lang="{{ .Language.Lang  | default "fr" }}"
      class="no-js"
      >

  <head>
    {{- partial "head.html" . -}}

    {{/* "title" block outside head.html to render on different page types */}}
    <title>{{ block "title" . -}}
      {{ with .Title }}{{ . | markdownify | plainify }}{{ end }}{{ if and .Title .Site.Title }} &mdash; {{ end }}{{ .Site.Title }}
      {{- end }}</title>
  </head>

  {{/* 
    Set references
  */}}
  {{/* -------------------- BEGIN JSON BIB -------------------- */}}
  {{ .Scratch.Set "jsonBib" $.Site.Data.bibliographie }}
  {{ $.Page.Scratch.Set "bibliography" (.Scratch.Get "jsonBib") }}
  {{ $dummyCited := dict "dummyCited" 1 }}

  {{/* -------------------- END JSON BIB -------------------- */}}

  <body>
    <header class="page-header">
      {{- block "header" .}}
      {{- partial "header.html" . -}}
      {{ end -}}
    </header>

    <!-- Barba.js wrapper -->
    <div id="barba-wrapper">
      <div class="barba-container">
        
        <main>
          {{- block "main" . }}
          <article class="article-index">
            <header class="container header-index-container">
              <h1>
                <span>{{ .Title }}</span>
              </h1>
            </header>

            <div class="container">
              {{- .Content -}}

              {{ partial "page-bibliography.html" . }}
            </div>

          </article>
          {{- end }}
        </main>

        <footer class="page-footer">
          {{- block "footer" . }}
          {{- partial "footer.html" . -}}
          {{ end -}}
        </footer>

      </div>
    </div>
    <!-- # end Barba.js -->

    {{- partial "menu.html" . -}}
  </body>

</html>
