// .quire-citation
// -----------------------------------------------------------------------------
$fadeDuration: .4s;
.quire-citation {
//  display: inline-block;
  position: relative;
  text-indent: 0;
  font-size: .9em;
  &__content {
    visibility: hidden;
    font-size: 1rem;
    line-height: 1.5;
    background-color: lighten($c-primary, 45%);
    color: $c-primary;
    border-radius: 6px;
    border: 1px solid $c-primary;
    padding: 1rem;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    z-index: 1;
    bottom: 150%;
    left: 0;
    margin-left: -50px;
  }
  .quire-citation__content {
    transition: visibility 0s $fadeDuration, transform $fadeDuration ease 0s, opacity $fadeDuration ease 0s;
    transform: translateX(-14px);
    opacity: 0;
    z-index: 5; // overlay above augmentations column
    
    dd {
      margin-left: 0;
    }
  }
  &:hover .quire-citation__content {
    visibility: visible;
    transition: visibility 0s 0s, transform $fadeDuration, opacity $fadeDuration;
    transform: translateX(0);
    opacity: 1;
  }
}

.visually-hidden {
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.page-references {
  margin-top: 2rem;
  
  :target {
    // transition: account for scroll behavior delay
    animation: highlight 3s;
  }

  dt {
    font-weight: 500;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1rem;
    @media print {
      margin-bottom: 6pt;
    }
  }
}

@keyframes highlight {
  0% { background-color: rgba($c-primary, .6); }
  100% { background-color:  rgba($c-primary, 0); }
}
