//-------------------------------------------------------------------
//  Fullscreen menu
//-------------------------------------------------------------------

$menu-base-time: 0.2s;

body.show-menu {
  overflow: hidden;

  .fullscreen-menu {
//    display: block;
    visibility: visible;
    opacity: 1;
  
    > .nav-posts {
      ul {
        &::before {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.8s;
        }
        > li {
          opacity: 1;
          transform: translate(0, 0);
          transition-duration: 0.6s;
          
          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              transition-delay: $menu-base-time + 0.05 * $i;
            }
          }
        }
      }
    }
  }
  
  .hamburger-button {
    > span:nth-child(1) {
      transform: rotate(-45deg) translateY(-3px);
    }

    > span:nth-child(2) {
      opacity: 0;
      transform: translateX(80%) scaleX(0.2);
    }

    > span:nth-child(3) {
      transform: rotate(45deg) translateY(3px);
    }
  }
}


.hamburger-button {
  display: block;
  padding: 0.5em;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  z-index: 3;

  > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #000;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1), opacity 0.5s;
    right: 0;
    margin-left: auto;
    transform: rotate(0) translateY(0);
    transform-origin: 100% 50%;
    
    &:nth-child(2) {
      margin: 5px 0 5px auto;
    }
  }
  
  &:hover {
    
    > span {
    }
  }
}

.fullscreen-menu {
//  display: none; // display none by default; reveal when class is toggled on the body
  visibility: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.96);
  color: #000;
  padding: 5vw;
  overflow: scroll;
  transition: opacity 0.3s;
  opacity: 0;

  > .nav-posts {
    position: absolute;
    right: 6vw;
    top: 8vw;
    text-align: right;
    
    .menu-title {
      margin: 0.5em 0;
      font-size: 3.3em;
      font-weight: 300;
    }

    ul {
      list-style: none outside none;
      margin: 0;
      padding: 0;
      position: relative;
      padding-top: 1em;
      
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 2em;
        height: 2px;
        background-color: $c-primary;
        opacity: 0;
        transform: translateY(-10px);
        transition: 0.6s opacity, 0.6s transform cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      > li {
        opacity: 0;
        transform: translate(-10%, 0);
        transition: all 1s;
        > a {
          display: inline-block;
          position: relative;
          border: 0;
          padding: 0.35em 0;
          font-size: 1.65em;
          color: #000;
          font-weight: 900;
          opacity: 1;
          z-index: 5;
          
          &::after {
            content: '';
            position: absolute;
            transition: width 0.7s cubic-bezier(0.77, 0, 0.175, 1);
            height: 1.3em;
            background-color: $c-primary;
            border-bottom: 2px solid #000;
            width: 0;
            bottom: 0.35em;
            right: 0;
            z-index: -1;
          }
          
          &:hover {
            &::after {
              width: 100%;
            }
          }
          
          &:active {
            &::after {
              background-color: darken($c-primary, 5%);
            }
          }
        }
      }
    }
  }
}